.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------------------------------------------------------- */

.center-title {
  text-align: center;
  font-family: fantasy;
  padding: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

#hero-to-do-list-background {
  background-image: url('./assets/images.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 150vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  font-family: fantasy;
}

.to-do-list-container {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-color: black;
  height: 100vh;
  background-color: #FFFAF0;
  /* display: flex; */
}

.center-item-list {
  text-align: center;
  text-decoration: none;
}

.to-do-list-item {
  font-size: 30px;
  font-family: fantasy;
  /* list-style: none; */
  padding: 15px;
  list-style-position: inside;
  background-color: #F0F8FF;
  text-overflow: hidden;
  overflow-wrap: break-word;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

#hero-tip-calculator-background {
  background-image: url('./assets/images.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 150vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  font-family: fantasy;
}

.tip-calculator-container {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-color: black;
  height: 100vh;
  background-color: #FFFAF0;
}

#tip-calculator-center-row {
  text-align: center;
  padding: 15px;
}

.tip-calculator-label {
  font-size: 25px;
  font-family: fantasy;
}

.tip-calculator-radio-button {
  width: 2em;
  height: 2em;
}